* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  height: 1100vh;
  overscroll-behavior: none;
  /* font */
  font-family: "Geologica";
  font-style: normal;
  letter-spacing: 0.05em;
  color: #f4f9ff;
}

h1 {
  font-size: 4vh;
  font-weight: 400;
  line-height: 4vh;
  color: #f4f9ff;
}

h2 {
  font-size: 3vh;
  font-weight: 600;
  line-height: 3vh;
  color: #f4f9ff;
}

h3 {
  font-size: 2.5vh;
  font-weight: 600;
  line-height: 3vh;
  color: #f4f9ff;
  text-transform: uppercase;
}

h4 {
font-family: 'Geologica';
font-style: normal;
font-weight: 400;
font-size: 1.5vh;
line-height: 1.5vh;
/* identical to box height */
/* letter-spacing: -0.06em; */
text-transform: uppercase;

color: #DADADA;
}

p {
  font-size: 2vh;
  font-weight: 200;
  line-height: 2.5vh;
  color: #f4f9ff;
}

button {
  all: unset;
}

/* .geologica {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
} */

/* CLASS SELECTORS */

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.svg-stars-bg {
    height: 580vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    will-change: transform;
    transform: translateX(-50%);
    background-image: url("svg/stars.svg");
    background-repeat: repeat;
    background-position: top;
    background-size: auto 400vh;
}

.svg-bottom {
  width: auto; /* Scale the SVG to the full width of the container */
  /* height: 14vh; */
  position: absolute; /* Position the SVG */
  bottom: 0; /* Stick to the bottom of the container */
  will-change: transform;
  left: 50%; /* Center the SVG horizontally */
}

.content {
  transform: translate(18%, 0%);
  width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 2vh;
}

.portfolio-content {
  will-change: transform;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
    0deg,
    #f1ffb5 0%,
    #02b3c3 12%,
    #014d54 28%,
    #000000 60%
  );
}

.placard {
  font-weight: 600;
  font-size: 7vh;
  line-height: 7vh;
  margin-bottom: 2vh;
  color: #147a93;
}

.custom-h2 {
  font-weight: 700;
  font-size: 4vh;
  color: #409b9e;
  line-height: 5vh;
  margin-bottom: 1vh;
}

.custom-h3 {
  font-weight: 600;
  font-size: 3vh;
  color: #409b9e;
}

.launchpad {
  transform: translate(20%, 6%);
}

.svg-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
  margin: 1vh 0;
}

.svg-med {
  height: 6vh;
  width: auto;
}

.tooltip {
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5vh;
  gap: 2vh;
  width: auto;
  height: auto;
  background: linear-gradient(180deg, #181f1fd9 0%, #28282840 100%);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

.card-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5vh;
  gap: 2vh;
  width: auto;
  height: auto;
  background: linear-gradient(180deg, #181f1fd9 0%, #28282840 100%);
  backdrop-filter: blur(2px);
  border-radius: 8px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card-links {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  gap: 1vh;
}

.card-icon {
  width: auto;
  height: 2.5vh;
}

.card-icon-lg {
  width: auto;
  height: 10vh;
}

.absolute {
  position: absolute;
}

/* Tooltip text */
.tooltip .tooltiptext {
  opacity: 0;
  visibility: hidden;
  width: auto;
  background-color: #161616ea;
  color: #f4f9ff;
  font-size: 1.2vh;
  text-align: center;
  padding: 0.8vh 1.6vh;
  border-radius: 6px;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #161616ea transparent;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2vh;
}

.txt-mid {
  text-align: center;
}

.fixed-rocket-stages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 50vh;
  left: 50%;
  top: 50%;
  transform: translateX(-120%) translateY(-0%);
  pointer-events: none;
  z-index: 999;
}

.panel-left {
  transform-style: preserve-3d;
  transform-origin: right center; /* Hinge on right */
}

.panel-right {
  transform-style: preserve-3d;
  transform-origin: left center; /* Hinge on right */
}

.collapsible-content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 2vh;
  overflow: hidden;
}
.collapsible-expand-btn,
.collapsible-collapse-btn {
  width: fit-content;
  color: #f4f9ffc7;
  font-size: 1.5vh;
  text-align: center;
  cursor: pointer;
}

/* ID SELECTORS */

#ocean {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  z-index: 1;
  background: linear-gradient(180deg, #0185ab 0%, #075c7b 21%);
}

#rckt {
  position: fixed;
  /* left: 20vh */
  left: 50%;
  /* top: 50%; */
  /* transform: translateX(-400%) translateY(-50%); */
  z-index: 999;
}



/* SIDE NAVIGATION STYLES */

.side-nav {
  position: fixed;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.75vh;
  z-index: 1000;
  scroll-behavior: smooth;
}

.side-nav-link {
  /* padding: 0.5vh 0; */
  display: block;
  width: 3vh;
  height: 0.9vh;
  border-radius: 0.25vh;
  text-align: center;
  line-height: 2.5vh;
  background: #ffffffab;
  font-size: 2vh;
  text-decoration: none;
  transition: background 0.2s, width 0.2s;
  position: relative;
}

.side-nav-link::after {
  content: attr(title);
  opacity: 0;
  visibility: hidden;
  color: #fffffff2;
  font-size: 2vh;
  position: absolute;
  left: 120%;
  top: -100%;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.3s;
}

.side-nav-link:hover {
  background: #fffffff2;
  width: 4vh;
}

.side-nav-link:hover::after {
  opacity: 1;
  visibility: visible;
}

.side-nav-link-active {
  background: #fffffff2;
  width: 4vh;
}
