<section class="container" id="landing">
  <div class="content launchpad">
    <h1 class="placard">
      JOEY <br />
      REKSOATMODJO
    </h1>
    <h2 class="custom-h2">MY PORTFOLIO</h2>
    <h3 class="custom-h3">SOFTWARE DEVELOPER & DATA ENGINEER</h3>
  </div>
  <img
    src="{{ url_for('static', filename='svg/layer2-bushes.svg') }}"
    alt="Foreground SVG"
    id="back-bushes"
    class="svg-bottom"
  />
  <img
    src="{{ url_for('static', filename='svg/launch-pad.svg') }}"
    alt="Foreground SVG"
    id="launchpad"
    class="svg-bottom"
  />
  <img
    src="{{ url_for('static', filename='svg/tower.svg') }}"
    alt="Foreground SVG"
    id="tower"
    class="svg-bottom"
  />
  <img
    src="{{ url_for('static', filename='svg/tank.svg') }}"
    alt="Foreground SVG"
    id="water-tank"
    class="svg-bottom"
  />
  <img
    src="{{ url_for('static', filename='svg/rocket-on-pad.svg') }}"
    alt="Foreground SVG"
    id="rocket-grounded"
    class="svg-bottom"
  />
  <img
    src="{{ url_for('static', filename='svg/layer1-bushes.svg') }}"
    alt="Foreground SVG"
    id="front-bushes"
    class="svg-bottom"
  />
  <div id="ocean"></div>
</section>
