<div id="rckt">
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='gif/propulsion.gif') }}"
      alt="propulsion"
      id="propulsion"
      class=""
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/rocket-stage-1.svg') }}"
      alt="rocket stage one"
      id="rckt-stg-one"
      class=""
      style="height: 60vh; opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/rocket-stage-2.svg') }}"
      alt="rocket stage two"
      id="rckt-stg-two"
      class=""
      style="height: 60vh; opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/booster.svg') }}"
      alt="rocket left booster"
      id="rckt-left-booster"
      class=""
      style="height: 21.2vh; transform: translate(-2.9vh, 19.4vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/booster.svg') }}"
      alt="rocket right booster"
      id="rckt-right-booster"
      style="height: 21.2vh; transform: translate(2.9vh, 19.4vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/rocket-stage-3.svg') }}"
      alt="rocket stage three"
      id="rckt-stg-three"
      style="height: 31vh; opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/main-booster.svg') }}"
      alt="rocket stage three"
      id="rckt-main-booster"
      class=""
      style="height: 32vh; transform: translateY(44%); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/rocket-stage-4.svg') }}"
      alt="rocket stage four"
      id="rckt-stage-4"
      class=""
      style="height: 14.55vh; transform: translateY(57%); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/solar-panel-right.svg') }}"
      alt="solar panel right"
      id="solar-panel-right"
      class="panel panel-right"
      style="height: 4.4vh; transform: translate(3.6vh, -1.8vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/solar-panel-right.svg') }}"
      alt="solar panel right"
      id="solar-panel-right-2"
      class="panel panel-right"
      style="height: 4.4vh; transform: translate(6.7vh, -1.8vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/solar-panel-right.svg') }}"
      alt="solar panel right"
      id="solar-panel-right-3"
      class="panel panel-right"
      style="height: 4.4vh; transform: translate(9.8vh, -1.8vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/payload.svg') }}"
      alt="payload"
      id="payload"
      class=""
      style="height: 6vh; transform: translate(0.15vh, -1.9vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/payload-cover-left.svg') }}"
      alt="payload cover left"
      id="payload-cover-left"
      class=""
      style="height: 22.5vh; transform: translate(-1.5vh, -4.2vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/payload-cover-right.svg') }}"
      alt="payload cover right"
      id="payload-cover-right"
      class=""
      style="height: 22.5vh; transform: translate(1.3vh, -4.2vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/solar-panel-left.svg') }}"
      alt="solar panel left"
      id="solar-panel-left"
      class="panel panel-left"
      style="height: 4.4vh; transform: translate(-3.6vh, -1.8vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/solar-panel-left.svg') }}"
      alt="solar panel left"
      id="solar-panel-left-2"
      class="panel panel-left"
      style="height: 4.4vh; transform: translate(-6.7vh, -1.8vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/solar-panel-left.svg') }}"
      alt="solar panel left"
      id="solar-panel-left-3"
      class="panel panel-left"
      style="height: 4.4vh; transform: translate(-9.8vh, -1.8vh); opacity: 0; visibility: hidden;"
    />
  </div>
  <div class="fixed-rocket-stages">
    <img
      src="{{ url_for('static', filename='svg/satellite.svg') }}"
      alt="satellite"
      id="satellite"
      class=""
      style="height: 10vh; rotate: 70deg; opacity: 1; visibility: visible;"
    />
  </div>
</div>